.header {
  padding: 14px;
  background-color: #646cff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}

.input {
  color: black;
  border: 1px solid antiquewhite;
  margin-right: 12px;
  padding: 10px;
  border-radius: 4px;
}

::placeholder {
  color: lightblue;
}