.imagesList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 24px;
  justify-content: center;
}

.imagesListItem {
  width: calc((100% - 30px - 4px) / 4);
  overflow: hidden;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  min-height: 175px;
}

.imagesListItem:hover {
  transform: scale(1.025);
}

.imagesListItem img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 768px) {
  .imagesListItem {
    width: calc((100% - 30px) / 3);
  }
}

@media (max-width: 480px) {
  .imagesListItem {
    width: calc((100% - 20px) / 2);
  }
}