.imagesList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 24px;
}

.imagesListItem {
  width: calc((100% - 44px)/5);
  overflow: hidden;
  border-radius: 2px;
}

.imagesListItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}